services:
  ds-project:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
    command: bash docker/start_local_dev.sh
    ports:
      - "8501:8501"
